@import 'src/variables'
@import 'src/functions'

@import 'src/borders'
@import 'src/margins'
@import 'src/paddings'


// @import './mediaQueries'
// $offsets = 5 10 20 40 60
// $directions = 'top' 'bottom' 'left' 'right' 'vertical' 'horizontal'
// $unit = 'px'
//
// $breakpoints = {
//   xs: 0,
//   sm: 750px,
//   md: 970px,
//   lg: 1170px
// }
//

// $border-styles = none solid


//
// for $border-style in $border-styles
//   $first = slice($direction, 0, 1)
//   .b{$first}
//     border-style solid
//
// for $direction in $directions
//   $first = slice($direction, 0, 1)
//   .b{$first}
//     if $direction == vertical
//       border-top-width 1px
//       border-bottom-width 1px
//     else if $direction == horizontal
//       border-left-width 1px
//       border-right-width 1px
//     else
//       border-{$direction}-width 1px

// for $offset in $offsets
//   for $direction in $directions
//     for $size, $breakpoint in $breakpoints
//       $first = slice($direction, 0, 1)
//
//       if $breakpoint is sm()
//         .m{$first}-{$offset}
//           if $direction is 'vertical'
//             margin-top unit($offset, $unit)
//             margin-bottom unit($offset, $unit)
//           else if $direction is 'horizontal'
//             margin-left unit($offset, $unit)
//             margin-right unit($offset, $unit)
//           else
//             margin-{$direction} unit($offset, $unit)
//       else
//         warn('else')
//         .m{$first}-{$offset}-{$breakpoint}
//           +invokeQuery($breakpoint)
//             if $direction is 'vertical'
//               margin-top unit($offset, $unit)
//               margin-bottom unit($offset, $unit)
//             else if $direction is 'horizontal'
//               margin-left unit($offset, $unit)
//               margin-right unit($offset, $unit)
//             else
//               margin-{$direction} unit($offset, $unit)

// for $offset in $offsets
//   for $direction in $directions
//     for $breakpoint in $breakpoints
//       $first = slice($direction, 0, 1)
//
//       .m{$first}-{$offset}-{$breakpoint}
//         +invokeQuery($breakpoint)
//           margin-{$direction} unit($offset, $unit)
//
// for $offset in $offsets
//   for $direction in $directions
//     $first = slice($direction, 0, 1)
//
//     .p{$first}-{$offset}
//       padding-{$direction} unit($offset, $unit)
//
// $text-directions = left center right
//
// for $direction in $text-directions
//   .text-{$direction}
//     text-align $direction
//
// $transforms = uppercase capitalize lowercase
//
// for $transform in $transforms
//   .text-{$transform}
//     text-transform $transform
//
// $positions = relative absolute fixed static -webkit-sticky
// for $position in $positions
//   .p-{$position}
//     position $position
//
// $z-indexes = 1 100 200 300 400 500 600 700 800 900
// for $z-index in $z-indexes
//   .z-{$z-index}
//     z-index $z-index
//
// $font-sizes = {
//   '1': 4,
//   '2': 3,
//   '3': 2,
//   '4': 1.2,
//   '5': 1,
//   '6': .8
// }
//
// for $font, $size in $font-sizes
//   .f{$font}
//     font-size $size * 1rem
//
// for $font, $size in $font-sizes
//   .f{$font}-desktop
//     +desktop()
//       font-size $size * 1rem
//
// for $font, $size in $font-sizes
//   .f{$font}-mobile
//     +mobile()
//       font-size $size * 1rem
//
//
// .oh
//   overflow hidden
//
// .ov
//   overflow visible
//
// .cp
//   cursor pointer
//
// .w-50
//   width 50%
//
// .w-100
//   width 100%
//
// .mw-100
//   max-width 100%
//
// .b
//   border-style solid
