borders(size)

  // Border
  for $direction in $directions
    if size is $base
      .b{initial($direction)}
        direction('border', $direction, unit($border-width, $unit))
        direction('border-style', $direction, solid)

    else
      .b{initial($direction)}-{$size}
        direction('border', $direction, unit($border-width, $unit))
        direction('border-style', $direction, solid)


  // Border Color
  for $color-name, $color-code in $colors
    if size is $base
      .ba-{$color-name}
        border-color $color-code


  // Border Radius
  $border-radius-directions = 'top-left' 'top-right' 'bottom-left' 'bottom-right'

  if size is $base
    .ba-rounded
      border-radius $border-radius

    .ba-circle
      border-radius 100%

    .ba-pill
      border-radius 99999px

  for $border-radius-direction in $border-radius-directions
    $initials = split('-', $border-radius-direction)
    if size is $base
      .br-{initial($initials[0])}{initial($initials[1])}-0
        direction('border-radius', $border-radius-direction, unit(0, $unit))
    else
      .br-{initial($initials[0])}{initial($initials[1])}-0-{$size}
        direction('border-radius', $border-radius-direction, unit(0, $unit))
