for $offset in $offsets
  for $direction in $directions
    .p{initial($direction)}-{$offset}
      directions(padding, $direction, $offset)

    for $size, $breakpoint in $breakpoints
      .p{initial($direction)}-{$offset}-{$size}
        @media screen and (min-width: unit($breakpoint, $unit))
          directions(padding, $direction, $offset)
