$offsets = 5 10 20 40 60
$directions = top bottom left right vertical horizontal all
$border-width = 1
$unit = 'px'

$breakpoints = {
  desktop: 1024
}

$colors = {
  black: #000000
}

$text-scale =  60 24 18 12 10
